.searchbar_container {
  display: flex;
  gap:10px;
}

.searchbar_container > input {
  flex: 1;
  padding: 15px;
  border-radius : 5px;

}

.searchbar_container > button {
  width: 80px;
  border: radius 5px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: blue
}